// Place all the styles related to the GameEvents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#new-game {
	body {
		text-align: center;
	}
	table {
		border-collapse: collapse;
		margin: 0 auto;
		text-align: left;
		th {
			text-align: center;
		}
		tr {
			height: 50px;
			&:nth-child(2n) {
				background: white;
			}
		}
	}
}
.schedule {
	border-collapse: collapse;
	background: white;
	width: 100%;
	th {
		background: black;
		color: #eee;
	}
	td {
		padding-top: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid #eee;
		text-align: center;
		&:first-child {
			text-align: left;
		}
	}
	tr {
		&:last-child {
			background: black;
			color: #eee;
		}
	}
}
.new-game-link {
	background: #444444;
	border-radius: 5px;
	color: white;
	display: inline-block;
	float: right;
	a {
		text-decoration: none;
		padding: 5px;
		color: white;
		display: inline-block;
		&:hover {
			background-color: #444444;
			transition: 0.2s;
			border-radius: 5px;
		}
	}
}