// Place all the styles related to the Leagues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a {
	text-decoration: none !important;
	&:hover {
		text-decoration: none !important;
		background: transparent !important;
		color: black !important;
	}
}
.back-btn {
	position: absolute;
	top: 25px;
	left: 25px;
	background: black;
	border-radius: 10px;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 5px;
	a {
		color: white !important;
		text-decoration: none;
		&:hover {
			background: black;
		}
	}
}
.edit-btn {
	right: 0;
	left: auto;
	top: 82.5px;
	border-radius: 0;
	background: black;
	input {
		background: black;
		color: white;
		width: 100% !important;
		&:hover {
			cursor: pointer;
		}
	}
	a {
		&:hover {
			background: black;
		}
	}
}
.left-first-btn {
	left: 0px;
	right: auto;
	display: inline-block;
	color: white;
}
.left-second-btn {
	left: 150px;
	right: auto;
	display: inline-block;
	color: white;
}
.edit-submit {
	top: 63.5px;
}
.view-league-btn {
	background: black;
	padding-left: 15px;
	padding-right: 15px;
	display: inline-block;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	a {
		color: white;
		&:hover {
			color: white !important;
		}
	}
	a:visited {
		color: white;
	}
}
header {
	background: #f0f0f0;
	position: absolute;
	padding-top: 15px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	margin-bottom: 75px;
	border-bottom: 2px solid #444444;
	text-align: center;
}
.body-wrap {
	padding-bottom: 75px;
	width: 98%;
	margin: 0 auto;
	margin-top: 185px;
	label {
		width: 100px;
	}
	input {
		width: 50%;
		padding: 10px;
		border: none;
		outline: none;
	}
	.special-top {
		position: absolute;
		top: 115px;
		border-top: 5px solid black;
		border-bottom: 5px solid black;
		left: 0;
		width: 100%;
		padding-top: 25px;
		padding-bottom: 25px;
		padding-left: 25px;
		padding-right: 25px;
	}
	.full-width {
		width: 100%;
		display: inline-block;
	}
	.one-third-width {
		width: 33%;
		display: inline-block;
		float: left;
	}
	.left-half {
		float: left;
		display: inline-block;
		width: 50%;
		box-sizing: border-box;
	}
	.right-half {
		width: 50%;
		display: inline-block;
		box-sizing: border-box;
	}
	.border-box {
		box-sizing: border-box;
	}
	.black-bg {
		background: #444444;
		color: white;
	}
	table {
		th {
			text-align: left !important;
		}
		tr {
			height: 30px !important;
			td {
				padding: 2px;
			}
		}
	}
}
.league-index {
	.special-top {
		padding: 0px;
		table {
			width: 95%;
			margin: 0 auto;
			text-align: left;
			tr, th {
				width: 20%;
			}
		}
	}
	.league-schedule {
		border-collapse: collapse;
		tr {
			&:nth-child(2n) {
				background: white;
			}
		}
	}
}
.league-edit {
	input {
		width: 75%;
	}
}
.edit-league-btn {
	padding: 5px;
	background: black;
	color: white;
	display: inline-block;
	float: left;
	position: relative;
	margin-top: -40px;
	margin-left: 210px;
	input {
		width: 100%;
		padding: 0;
		background: black;
		color: white;
		display: inline-block;
		&:hover {
			cursor: pointer;
		}
	}
}
.inline-me {
	display: inline-block;
}
.personal-profile-link {
	position: absolute;
	top: 15px; 
	right: 25px;
}