// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// tr.home {
// 	background-color: #fff;
// }
tr {
	margin-bottom: 0px;
	margin-top: 0px;
}
td {
	padding-bottom: 0px;
	padding-top: 0px;
}